<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - MyLibrary</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" 
      rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <style>
      body {
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .content-wrapper {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <div class="content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow mx-auto mb-4" 
          style="border-radius: 20px; margin-top: 20px; padding: 1rem 2rem; width: 78%;">
        <div class="container">
          <a class="navbar-brand fw-bold d-flex align-items-center" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='new_library.png') }}" alt="Logo" width="30" height="30" class="me-3" />
            MyLibrary
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('main.index') }}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.search') }}">Поиск</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.my_shelf') }}">Моя полка</a>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto align-items-center">
              {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ url_for('static', filename='profile_pics/' + current_user.avatar_file) }}" 
                 class="rounded-circle me-2" 
                 style="width: 32px; height: 32px; object-fit: cover; border: 1px solid #dee2e6;" 
                 alt="Avatar" />
                  <span class="fw-semibold text-dark">{{ current_user.username }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('main.profile') }}">Настройки</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">Выход</a></li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary btn-sm ms-lg-2 rounded-pill px-4" href="{{ url_for('auth.register') }}">Регистрация</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div
          class="toast-container position-fixed top-0 end-0 p-3"
          style="z-index: 1055"
        >
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} {% set bg_class =
          'bg-primary' %} {% if category == 'success' %} {% set bg_class =
          'bg-success' %} {% elif category == 'error' or category == 'danger' %}
          {% set bg_class = 'bg-danger' %} {% elif category == 'info' or
          category == 'message' %} {% set bg_class = 'bg-info text-dark' %} {%
          endif %}

          <div
            class="toast align-items-center text-white {{ bg_class }} border-0 mb-2"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-bs-delay="3000"
          >
            <div class="d-flex">
              <div class="toast-body fw-bold">{{ message }}</div>
              <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
          </div>
          {% endfor %} {% endif %} {% endwith %}
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary"
            >© 2026 MyLibrary Project</span
          >
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var toastElList = [].slice.call(document.querySelectorAll(".toast"));
        var toastList = toastElList.map(function (toastEl) {
          var toast = new bootstrap.Toast(toastEl);
          toast.show();
          return toast;
        });
      });
    </script>
  </body>
</html>
