{% extends "base.html" %} {% block content %}
<div
  class="p-5 mb-4 text-white rounded-3 shadow-lg"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ url_for('static', filename='background.jpg') }}'); 
            background-size: cover; background-position: center; min-height: 450px; display: flex; align-items: center; border: none;"
>
  <div class="container-fluid py-5 text-center w-100">
    <h1 class="display-3 fw-bold">Твоя личная библиотека</h1>
    <p class="col-md-8 fs-4 mx-auto mb-4">
      Управляйте своей коллекцией книг, отслеживайте прогресс чтения и находите
      новые шедевры через мировые архивы.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        href="{{ url_for('main.search') }}"
        class="btn btn-primary btn-lg px-5 shadow"
        >Начать поиск</a
      >
    </div>
  </div>
</div>

<div class="row g-4 py-5 row-cols-1 row-cols-lg-3 text-center">
  <div class="feature col">
    <div
      class="feature-icon bg-primary bg-gradient text-white mb-3 rounded-circle mx-auto d-flex align-items-center justify-content-center"
      style="width: 4.5rem; height: 4.5rem"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
        />
      </svg>
    </div>
    <h3 class="fw-bold text-body-emphasis">Поиск по API</h3>
    <p class="text-muted">Найдите любую книгу по названию или автору.</p>
  </div>

  <div class="feature col">
    <div
      class="feature-icon bg-success bg-gradient text-white mb-3 rounded-circle mx-auto d-flex align-items-center justify-content-center"
      style="width: 4.5rem; height: 4.5rem"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-bookshelf"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5M3 14h10v-3H3zm0-4h10V7H3zm0-4h10V3H3z"
        />
      </svg>
    </div>
    <h3 class="fw-bold text-body-emphasis">Своя полка</h3>
    <p class="text-muted">
      Сохраняйте понравившиеся экземпляры в личную коллекцию
    </p>
  </div>

  <div class="feature col">
    <div
      class="feature-icon bg-info bg-gradient text-white mb-3 rounded-circle mx-auto d-flex align-items-center justify-content-center"
      style="width: 4.5rem; height: 4.5rem"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-person-bounding-box"
        viewBox="0 0 16 16"
      >
        <path
          d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 0.5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"
        />
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
        />
      </svg>
    </div>
    <h3 class="fw-bold text-body-emphasis">Профиль</h3>
    <p class="text-muted">Персонализируйте свой аккаунт</p>
  </div>
</div>
{% endblock %}
